/* design.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FAFAFA;
}

a:hover{
  text-decoration: none;
}

@font-face {
  font-family: big_noodle_titling_oblique;
  src: url('/fonts/big_noodle_titling_oblique.ttf');
}

.header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Make headline font responsive */
.headlinelink{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 500;
}

@media screen{
  .headline{
    font-size: 5em;
  }
}
@media screen and (min-width: 450px){
  .headline{
    font-size: 7em;
  }
}
@media screen and (min-width: 550px){
  .headline{
    font-size: 10em;
  }
}
@media screen and (min-width: 850px){
  .headline{
    font-size: 15em;
  }
}
#disqus_thread{
  margin-left: auto;
  margin-right: auto;
  max-width: 1334px;
}

@media screen and (max-width: 920px){
  #disqus_thread{
    width: unset;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.headline {
  text-align: center;
  text-shadow: 1px 1px 1px black;
  z-index: 499;
  color: #f459bf;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: big_noodle_titling_oblique;
}

.header_overlay {
  position: relative;
  width: 100%;
  max-height: 450px;
  margin: 0 auto;
}
.header_overlay video {
  width: 100%;
  display: block;
}
.header_overlay:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
Navigation has its own css file
*/

/* Main */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

#game_container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 1334px;
  height: 750px;
}

/* Footer #51567b color: #FFFFFF;*/
.footer{
  background: #EEEEEE;
  display: inline-flex;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
}

#contact{
  padding: 30px;
  height: 150px;
  min-width: 200px;
}

#centerFooter{
  width: 80%;
}

.left{
  float: left;
}

.right{
  float: right;
}
/*
color code:
#85eaa6 Saikawa green
#51567b Kanna black
#e9ebee facebook grey
#fdfea5 Saikawa yellow
#FA7921 orange
#f459bf DVA font
*/
