/* design.css */
html, body {
  margin:0;
  padding:0;
  height:100%;
  background-color:#85eaa6;
}

.header {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.headline {
  position: absolute;
  text-align: center;
  font-size: 10em;
  text-shadow: 1px 1px 1px black;
  z-index: 499;
  color: white;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header_overlay {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.header_overlay video {
  width: 100%;
  display: block;
}
.header_overlay:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
Navigation has its own css file
*/

/* Main */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  color: #fdfea5;
}

/* Footer */
.footer{
  background: #51567b;
  color: #FFFFFF;
  display: inline-flex;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
}

#contact{
  padding: 30px;
  height: 150px;
  min-width: 200px;
}

#centerFooter{
  width: 80%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.riko_green {
  background-color: #85eaa6;
  color: #fdfea5;
}

.riko_yellow {
  background-color: #fdfea5;
  color: #85eaa6;
}
/*
color code:
#85eaa6 Saikawa green
#51567b Kanna black
#e9ebee facebook grey
#fdfea5 Saikawa yellow
#FA7921 orange
#e86c60 herzrot
#FF3366 schönes rot
*/
