/* navbar.css */
#navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  /* z-index makes our navbar always above other elements */
  z-index: 500;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: #E3E3E3;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}
